/* ----------------------------------------------------------------
	Custom CSS
-----------------------------------------------------------------*/

#logo img {
	bottom: 20px;
	height: 145px;
}

div.col_three_fifth.portfolio-single-image {
	float: none;
	margin: auto;
	width: 70%;
}

div.col-sm-12 img {
	width: 63%;
}

address {
  margin-bottom: 10px;
}

@media (max-width: 1199px) {

}


@media (max-width: 991px) {
	#logo img {
		bottom: 0px;
		height: 100px;
	}

	div.col_three_fifth.portfolio-single-image {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	div.col-sm-12 img {
		width: 38%;
	}
}

@media (max-width: 767px) {
	div.col-sm-12 img {
		width: 90%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {

}

@media (max-width: 479px) {

}
