/* ----------------------------------------------------------------
	Custom CSS
-----------------------------------------------------------------*/


/* gets rid of random line of demarcation  on headings*/
.heading-block:after {
  border: none;
}

#content p {
  font-size: 15px;
}

.siteHeader{
  width: auto;
  height: 700px;
  overflow: hidden;
  margin-bottom: -150px;
  margin-top: -150px;
  z-index: 0;
  position: relative;
}

.siteHeader .siteLogo{
    margin: -100px;
}

/*
#header.sticky-style-2 {
		height: 162px;
}

#header.sticky-style-2 > .container {
	height: 130px;
}

#header.sticky-style-2 #logo {
	margin: 25px 0;
}

#logo img {
	height: 85px;
}

#header.sticky-style-2:not(.sticky-header) #header-wrap {
	height: 50px;
}

#primary-menu.style-2 > div > ul > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
*/
#primary-menu ul li > a {
	color: #666;
}

video {
  width: 80%
}

/* --------------  for coming soon site --------------- */
.video-coming {
	left: 100px;
	bottom: 60px;
}

.caption-coming {
	bottom: 20px;
	right: 50px;
}
/* --------------  for coming soon site --------------- */


div.col_three_fifth.portfolio-single-image {
	float: none;
	margin: auto;
	width: 80%;
	margin-top: -20px;
}

span.before-heading {
	font-size: 18px;
	font-family: Lato;
}

a > i.front {
	font-size: 22px;
}

/* styles for logos on index page */
div.col-sm-12 img {
	width: 75%;
}

.copyrights-menu a {
	font-weight: 900;
	color: #666;
}

.copyrights-menu a:hover {
	color: #1abc9C;
}

.social-icon i {
	color: #666;
}

.team-title h4 {
	color: #444;
}

.jobs-blurb {
	margin-bottom: 30px;
}

#page-title.page-title-parallax {

}

@media (min-width: 1386px) {
	#ljlogo {
		margin: 24px 0px;
	}
	#diylogo {
		margin-bottom: 5px;
	}
}

@media (max-width: 1199px) {
  video {
    width: 100%
  }
}

@media (min-width: 992px) and (max-width: 1385px) {
	div.col-sm-12 img {
		width: 70%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
  #primary-menu.style-2 > div > ul > li > a {
    padding: 30px 10px;
  }

}

@media (max-width: 991px) {
	div.col_three_fifth.portfolio-single-image {
		width: 100%;
	}

  #header.sticky-style-2 > .container {
    height: auto;
    margin-top: 10px;
  }

  #logo img {
  	height: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	div.col-sm-12 img {
		width: 60%;
	}
}

@media (max-width: 767px) {
	div.col-sm-12 img {
		width: 80%;
	}

/* --------------  for coming soon site --------------- */
	.video-coming {
		left: 0px;
		bottom: 0px;
	}

	.caption-coming {
		bottom: 0px;
		right: 0px;
	}
}
/* --------------  for coming soon site --------------- */

@media (min-width: 480px) and (max-width: 767px) {

}

@media (max-width: 479px) {

}
