/* ----------------------------------------------------------------
	Custom CSS
-----------------------------------------------------------------*/

#header.sticky-style-2 {
		height: 162px;
}

#header.sticky-style-2 > .container {
	height: 112px;
}

#header.sticky-style-2 #logo {
	margin: 10px 0;
}
#logo img {
	height: 85px;
}

#header.sticky-style-2:not(.sticky-header) #header-wrap {
	height: 50px;
}

#header.sticky-header.sticky-style-2 #header-wrap {
	height: 50px;
}

/* --------------  for coming soon site --------------- */
.video-coming {
	left: 100px;
	bottom: 60px;
}
.caption-coming {
	bottom: 20px;
	right: 50px;
}
/* --------------  for coming soon site --------------- */


#primary-menu ul li > a {
	color: #666;
}

#primary-menu.style-2 > div > ul > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.col_three_fifth.portfolio-single-image {
	float: none;
	margin: auto;
	width: 80%;
	margin-top: -20px;
}

.tp-caption.Agency-PlayBtn,
.Agency-PlayBtn {
	border-radius: 4px 4px 4px 4px;
}

a > i.front {
	font-size: 22px;
}

/* styles for logos on index page */
div.col-sm-12 img {
	width: 95%;
}

.copyrights-menu a {
	font-weight: 900;
}

.copyrights-menu a:hover {
	color: #1abc9C;
}

.team-title h4 {
	color: #444;
}

.jobs-blurb {
	margin-bottom: 30px;
}

@media (min-width: 1386px) {
	#ljlogo {
		margin: 15px 0px;
	}
	#diylogo {
		margin-bottom: 5px;
	}
}

@media (max-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1385px) {
	div.col-sm-12 img {
		width: 70%;
	}
}

@media (max-width: 991px) {
	div.col_three_fifth.portfolio-single-image {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	div.col-sm-12 img {
		width: 80%;
	}
}

@media (max-width: 767px) {
	div.col-sm-12 img {
		width: 60%;
	}

/* --------------  for coming soon site --------------- */
	.video-coming {
		left: 0px;
		bottom: 0px;
	}

	.caption-coming {
		bottom: 0px;
		right: 0px;
	}
}
/* --------------  for coming soon site --------------- */

@media (min-width: 480px) and (max-width: 767px) {

}

@media (max-width: 479px) {

}
