<!-- Header
============================================= -->
<header id="header" class="no-sticky transparent-header dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/comingsoon" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/newlogo.png"><img style="margin-top: 10px; height: 70px;" src="{{ site.baseurl }}/img/newlogo.png" alt="Canvas Logo"></a>
        <a href="{{ site.baseurl }}/comingsoon" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/newlogo.png"><img style="margin-top: 10px; height: 70px;" src="{{ site.baseurl }}/img/newlogo.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <div class="fright dark hidden-sm hidden-xs clearfix" style="margin-top: 30px;">

        <a href="#" data-toggle="modal" data-target="#contactFormModal" class="social-icon si-light si-email3">
          <i class="icon-email3"></i>
          <i class="icon-email3"></i>
        </a>

      </div>

    </div>

  </div>

</header><!-- #header end -->
