<!-- Footer
  ============================================= -->
<footer id="footer"style="padding: 50px;">

  <!-- Copyrights
    ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        <img src="{{ site.baseurl }}/demos/agency/images/cclogo-small.jpg" alt="Cousin Corporation" class="footer-logo">
        Copyrights &copy; 2016 All Rights Reserved by Cousin Corporation.
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a href="{{ site.baseurl }}/about">About</a>/<a href="{{ site.baseurl }}/meet">Meet Us</a>/<a href="http://wwww.cousindiy.com">Cousin DIY</a>/<a href="http://wwww.laurajanelle.com">Laura Janelle</a>/<a href="{{ site.baseurl }}/careers">Careers</a>/<a href="#">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
<!-- #footer end -->
