<!-- Footer
  ============================================= -->
<footer id="footer">

  <!-- Copyrights
    ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        <img src="{{ site.baseurl }}/img/cca-logo-footer-2018.png" alt="Cousin Corporation" class="footer-logo">
        <p class="t500">Copyright &copy; 2021 All Rights Reserved by Cousin Corporation.</p>
      </div>
      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a class="t500" href="{{ site.baseurl }}/about">ABOUT US</a>/
          <a class="t500" href="{{ site.baseurl }}/meet">MEET OUR TEAM</a>/
          <a class="t500" href="{{ site.baseurl }}/contact">CONTACT</a>/
          <a class="t500" href="{{ site.baseurl }}/careers">CAREERS</a>
        </div>
      </div>
      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a class="t500" href="https://www.cousindiy.com" target="_blank">COUSIN D.I.Y!</a>/
          <a class="t500" href="https://www.laurajanelle.com" target="_blank">LAURA JANELLE</a>
          
        </div>
      </div>
      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.facebook.com/CousinCorp/" target="_blank" class="social-icon si-small si-borderless nobottommargin si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/CousinCorp" target="_blank" class="social-icon si-small si-borderless nobottommargin si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://www.instagram.com/cousincorp/" target="_blank" class="social-icon si-small si-borderless nobottommargin si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>

          <a href="https://www.linkedin.com/company/cousin-corporation-of-america" target="_blank" class="social-icon si-small si-borderless nobottommargin si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>

          <a href="https://www.pinterest.com/cousinpinterest/" target="_blank" class="social-icon si-small si-borderless nobottommargin si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
<!-- #footer end -->
