<!-- Header
============================================= -->

<header id="header" class="split-menu no-sticky">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo">
          <img src="{{ site.baseurl }}/img/small-cca.png" alt="Cousin Logo">
        </a>
        <a href="{{ site.baseurl }}/" class="retina-logo">
          <img src="{{ site.baseurl }}/img/newlogo.png" alt="Cousin Logo">
        </a>
      </div>

      <!-- Primary Navigation
    ============================================= -->
      <nav id="primary-menu">
        <ul class="nav-left">
          {% if page.url == "/about/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/about">
              <div>About Us</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/about">
              <div>About Us</div>
            </a>
          </li>
          {% endif %}

          {% if page.url == "/meet/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/meet">
              <div>Meet Our Team</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/meet">
              <div>Meet Our Team</div>
            </a>
          </li>
          {% endif %}

          {% if page.url == "/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/contact">
              <div>Contact</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/contact">
              <div>Contact</div>
            </a>
          </li>
          {% endif %}

        </ul>
        <ul class="nav-right">

        

          <li>
            <a href="https://www.cousinDIY.com" target="_blank">
              <div>Cousin DIY</div>
            </a>
          </li>

          <li>
            <a href="https://www.laurajanelle.com" target="_blank">
              <div>Laura Janelle</div>
            </a>
          </li>
        </ul>
      </nav>
      <!-- #primary-menu end -->
    </div>
  </div>
</header>
<!-- #header end -->