<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
	<script type="text/javascript" src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/plugins.js" | prepend: site.baseurl }}"></script>


<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/validator.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDr-wWyQRq0K-iZWQLc2E5IjCt0TP-AkOo"></script>
<script type="text/javascript" src="{{ "/js/jquery.gmap.js" | prepend: site.baseurl }}"></script>


<script>
$(window).load( function(){

  var pieChartData = [
				{
					value: 30,
					color: "#8CD0DA"
				},
				{
					value : 50,
					color : "#46BFBD"
				},
				{
					value : 100,
					color : "#2772AB"
				},
				{
					value : 45,
					color : "#949FB1"
				}

			];

  var globalGraphSettings = {animation : Modernizr.canvas};

  function showPieChart(){
		var ctx = document.getElementById("pieChartCanvas").getContext("2d");
		new Chart(ctx).Pie(pieChartData,globalGraphSettings);
	}

  $('#pieChart').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showPieChart,300); },{accX: 0, accY: -155},'easeInCubic');
});
</script>
<script>
$(document).ready(function() {
  $("#validateButton").click(function() {
    var hasErrors = $('#template-jobform').validator('validate').has('.has-error').length;
    if (hasErrors) {
      alert('Job application has errors.');
    } else {
      $("#apply").click();
    }
  });

	($(".map-icon").click())
});
</script>
<script type="text/javascript">
  $('#google-map').gMap({

    address: '12333 Enterprise blvd, Largo, Florida 33773',
    maptype: 'HYBRID',
    zoom: 13,
    markers: [
      {
        address: "12333 enterprise blvd, Largo, Florida 33773",
        html: '<div style="width: 275px;"><h4 class="t500" style="margin-bottom: 4px;">Hi, we\'re the <span>Cousin Corporation!</span></h4></div>',
        icon: {
          image: "../images/icons/map-icon-red.png",
          iconsize: [32, 39],
          iconanchor: [13,39]
        }
      }
    ],
    doubleclickzoom: false,
    controls: {
      panControl: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false
    }
  });
</script>
