<!-- Header
============================================= -->

<header id="header" class="split-menu no-sticky">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo">
          <img src="{{ site.baseurl }}/img/small-cca.png" alt="Cousin Logo">
        </a>
        
        <a href="{{ site.baseurl }}/" class="retina-logo">
          <img src="{{ site.baseurl }}/img/small-cca.png" alt="Cousin Logo">
        </a>
    
      </div>

      <!-- Primary Navigation
    ============================================= -->
      <nav id="primary-menu">
        <ul class="nav-left">
          {% if page.url == "/about/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/about">
              <div>About Us</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/about">
              <div>About Us</div>
            </a>
          </li>
          {% endif %}

          {% if page.url == "/meet/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/meet">
              <div>Meet Our Team</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/meet">
              <div>Meet Our Team</div>
            </a>
          </li>
          {% endif %}

          {% if page.url == "/contact/" %}
          <li class="current">
            <a href="{{ site.baseurl }}/contact">
              <div>Contact</div>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.baseurl }}/contact">
              <div>Contact</div>
            </a>
          </li>
          {% endif %}
        </ul>



        <ul class="nav-right">
            <li>
                <a class="cousin-nav" href="https://www.cousinDIY.com" target="_blank">
                  <img id="diylogo" src="{{ site.baseurl}}/img/cousindiy-2018.png">
                </a>
              </li>
              <li>
                  <a class="lj-nav"  href="https://www.laurajanelle.com" target="_blank">
                    <img src="{{ site.baseurl }}/img/lj-2018.png">
                  </a>
                </li>
          <li>
            <a class="cousin-nav"  href="https://www.cosmostylejewelry.com" target="_blank">
              <img id="diylogo" src="{{ site.baseurl}}/img/cosmo-logo.png">
            </a>
          </li>

          

          
        </ul>
      </nav>
      <!-- #primary-menu end -->
    </div>
  </div>
</header>
<!-- #header end -->