<!DOCTYPE html>
<html>

  {% include head.html %}


  <body class="stretched" style="background: black;">

  	<!-- Document Wrapper
  	============================================= -->
  	<div id="wrapper" class="clearfix">

      {% include comingsoonheader.html %}
      {{ content }}

    </div>

    {% include js.html %}
    <script type="text/javascript">

  		jQuery(document).ready( function($){
  			var newDate = new Date(2016, 2, 31);
  			$('#countdown-ex1').countdown({until: newDate});
  		});

  	</script>

  </body>

</html>
